:root {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}

.section1 {
    width:45%;
    float:left;
    box-sizing: border-box;
    margin:0;
    padding:0;	
    font-size: 20px;
}
.section2 {
    width:45%;
    float:right;
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.section2 img {
    width: 100%;
    height: 100%;
}

