@font-face {
    font-family: myFirstFont;
    src: url(ReadexPro-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: myFirstFont, sans-serif;
    color: white;
}

/*------------------ NAV BAR ------------------*/

#active {
    color: #FE881A;
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-left: 55px;
}

body {
    padding: 40px 120px;
    background-image: url("Assets/Home.svg");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}



.logo {
    padding-right: 10%;
    font-size: 36px;
    font-weight: 500;
    text-decoration: none;
}

.logo:hover {
    cursor: pointer;
}

#orange {
    color: #FE881A;
}



#content2 {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #FE881A;
    border: none;
    border-radius: 35px;
    color: white;
    width: 320px;
    height: 66px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

#description {
    padding-top: 20px;
    font-size: 20px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.hover-underline-animation:hover {
    color: #FE881A;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FE881A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .swiper {
    width: 100%;
  }

  :root {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
  }

  .section1 {
    width:45%;
	  float:left;
    box-sizing: border-box;
    margin:0;
    padding:0;	
    font-size: 20px;
  }
  .section2 {
    width:45%;
	  float:right;
    box-sizing: border-box;
    margin:0;
    padding:0;
    
  }

  .section2 img {
    width: 100%;
    height: 100%;
  }

