@font-face {
    font-family: myFirstFont;
    src: url(ReadexPro-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: myFirstFont, sans-serif;
    color: white;
}

#active {
    color: #FE881A;
}

body {
    padding: 40px 120px;
    background-image: url("Assets/Home.svg");
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.logo {
    padding-right: 10%;
    font-size: 36px;
    font-weight: 500;
    text-decoration: none;
}

.title {
    font-size: 36px;
    font-weight: 500;
}

.logot:hover {
    cursor: pointer;
}

#orange {
    color: #FE881A;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-left: 55px;
}

#content2 {
    display: flex;
    justify-content: space-between;
}


#text {
    width: 581px;
}

#description {
    padding-top: 20px;
    font-size: 20px;
}

table {
    font-size: 20px;
    padding-top: 20px;
}

td {
    padding-right: 30px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.hover-underline-animation:hover {
    color: #FE881A;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FE881A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.pad {
    padding-top: 30px;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
