table {
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
}

h4 {
    font-size: 36px;
    font-weight: 500;
    padding-top: 30px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.content {
    padding-top: 20px;
    font-size: 20px;
}

td {
    padding-right: 30px;
}
