header {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.logo {
  padding-right: 10%;
  font-size: 36px;
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-left: 55px;
}