.hover-underline-animation {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.hover-underline-animation:hover {
  color: #FE881A;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FE881A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
