.wrapper {
    display: flex;
    justify-content: space-between; 
}

#presentation-title {
    font-size: 36px;
    font-weight: 500;
}

#presentation {
    width: 45%;
    padding-right: 5%;
}

#description {
    padding-top: 20px;
    font-size: 20px;
}

/*------------------------------ MENU BUTTON ------------------------------*/

#btnMenu {
    border: 3px solid #FE881A;
    border-radius: 35px;
    color: #FE881A;
    font-size: 24px;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

#btnMenu {
    border: solid 2px #FE881A;
    background-color: transparent;
    border-radius: 35px;
    color: #FE881A;
    width: 250px;
    height: 66px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}
  
  
#btnMenu:after {
    background-color: #FE881A;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}


#btnMenu:hover::after{
    transform: translate(0, 0);
}


#btnMenu:hover {
    border: 2px solid transparent;
    color: white;
    transform: scale(1.05);
    will-change: transform;
}
  

  
    
    