.wrapper{
  width:1200px;
  margin:100px auto;
}
.title{
  text-align:center;
  margin-bottom:60px;
}
.title h4{
  font-size:36px;
  position:relative;
  padding-bottom:10px;
}
.title h4 span{
  position: absolute;
  float: right;
  font-size:18px;
  font-style:italic;
  margin-bottom:10px;
}
.title h4:before{
  position:absolute;
  content:"";
  width:100px;
  height:2px;
  background-color:#FE881A;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
}
.menu{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.single-menu{
  flex-basis:550px;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
}
.last{
  border-bottom:0;
}
.single-menu{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.single-menu:hover img{
  border-radius:0;
}
.single-menu img{
  max-width:180px;
  margin-right:30px;
  border-radius:50%;
  border:1px solid #ddd;
  padding:3px;
  transition:.5s;
}
.single-menu h4{
  text-transform:capitalize;
  font-size:22px;
  border-bottom:1px dashed #333;
  margin-bottom:5px;
  padding-bottom:5px;
}
.single-menu h4 span{
  float:right;
  color:#FE881A;
  font-style:italic;
}

/*------------------------------ BACKGROUND IMG ------------------------------*/

#grad1 {
  z-index: -1;
  position: absolute;
  top: -700px;
  right: -700px;
  opacity: 0.7;
}

#grad2 {
  z-index: -1;
  position: absolute;
  top: -100px;
  left: -700px;
  opacity: 0.5;
}

#grad3 {
  z-index: -1;
  position: absolute;
  top: 600px;
  right: -900px;
  opacity: 0.3;
}
