@font-face {
  font-family: ReadexPro;
  src: url(ReadexPro-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ReadexPro, sans-serif;
  color: white;
}

body {
  padding: 40px 120px;
  background-color: #25212B;
  animation: 1s ease-out 0s 1 ellipseAppears;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.orange {
  color: #FE881A;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}